div {
  background: linear-gradient(
    to right,
    hsl(150, 100%, 41%),
    hsl(203, 100%, 36%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

h1 {
  font-size: 14vmin;
  line-height: 1.1;
}

body {
  background: hsl(204 100% 5%);

  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui;
  font-size: min(400%, 10vmin);
}

h1,
p,
body {
  margin: 0;
}

p {
  font-family: "Dank Mono", ui-monospace, monospace;
}

strong {
  all: initial;
  font-size: min(150%, 15vmin);
}

html {
  block-size: 90%;
  inline-size: 100%;
}

.button-time {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 24px 28px;
  margin-top: 6px;
  margin-bottom: 12px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-time:hover,
.button-time:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.button-time:active {
  opacity: 0.5;
}
